{
  "parser": "@typescript-eslint/parser",
  "plugins": ["eslint-plugin", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:eslint-plugin/recommended"
  ]
}
